<div class="profil">
  <h1>Bonjour, invocateur ! </h1>
  <a href="/profil"><img src="assets/images/logo/profil.png" alt="Profil picture"></a>
</div>

<h1 class="title">Détails du tournois</h1>

<div class="tournament">

  <div class="tournament__versus">

    <a href="">

      <div class="tournament__versus--team1">
        <h2>Team Pax</h2>
      </div>

      <div class="tournament__versus--vs">
        <h2 style="color: #3983FF">Vs</h2>
      </div>

      <div class="tournament__versus--team2">
        <h2>Team Xap</h2>
      </div>

      <div class="clear"></div>

      <div class="tournament__versus--victory">
        <h2>Vitcoire pour Team Pax</h2>
      </div>

    </a>
  </div>

  <div class="tournament__versus">
    <a href="">

      <div class="tournament__versus--team1">
        <h2>SKTT1</h2>
      </div>

      <div class="tournament__versus--vs">
        <h2 style="color: #3983FF">Vs</h2>
      </div>

      <div class="tournament__versus--team2">
        <h2>Team LIQUID</h2>
      </div>

      <div class="clear"></div>

      <div class="tournament__versus--victory">
        <h2>Vitcoire pour Team LIQUID</h2>
      </div>

    </a>
  </div>

  <div class="tournament__versus">
    <a href="">

      <div class="tournament__versus--team1">
        <h2>Cloud9</h2>
      </div>

      <div class="tournament__versus--vs">
        <h2 style="color: #3983FF">Vs</h2>
      </div>

      <div class="tournament__versus--team2">
        <h2>FNATIC</h2>
      </div>

      <div class="clear"></div>

      <div class="tournament__versus--victory">
        <h2>Vitcoire pour Cloud9</h2>
      </div>

    </a>
  </div>

</div>

