<h1 class="title">Équipes</h1>

<div class="arrow-back">
  <a href="profil" class="summary-a">
    <img src="assets/images/icons/arrow_left.png" alt="Arrow Left">
  </a>
</div>

<div class="team">
  {{ team.id }}

  <div class="team__card">
    <div class="team__card--section">
      <img src="assets/images/logo/profil.png" alt="Profil user team">
      <h3>Druxys</h3>
    </div>

    <div class="team__card--section">
      <h3>Rank : Bronze IV</h3>
      <h3>Role: Support</h3>
      <h3>Ratio de victoire : 51%</h3> <br>
      <a href="team-profil" class="team__card--section-a">Voir la fiche du joueur</a>
    </div>

    <div class="clear"></div>
  </div>
  <div class="team__card">
    <div class="team__card--section">
      <img src="assets/images/logo/zed.png" alt="Profil user team">
      <h3>Rayleigh</h3>
    </div>

    <div class="team__card--section">
      <h3>Rank : Bronze III</h3>
      <h3>Main role(s) : Mid</h3>
      <h3>Ratio de victoire : 51%</h3> <br>
      <a href="team-profil" class="team__card--section-a">Voir la fiche du joueur</a>
    </div>

    <div class="clear"></div>
  </div>
  <div class="team__card">
    <div class="team__card--section">
      <img src="assets/images/logo/morgana.png" alt="Profil user team">
      <h3>DoRaideN</h3>
    </div>

    <div class="team__card--section">
      <h3>Rank : Bronze II</h3>
      <h3>Main role(s) : Top</h3>
      <h3>Ratio de victoire : 51%</h3> <br>
      <a href="team-profil" class="team__card--section-a">Voir la fiche du joueur</a>
    </div>

    <div class="clear"></div>
  </div>
  <div class="team__card">
    <div class="team__card--section">
      <img src="assets/images/logo/sejuani.png" alt="Profil user team">
      <h3>TooFat4You</h3>
    </div>

    <div class="team__card--section">
      <h3>Rank : Bronze I</h3>
      <h3>Main role(s) : Jungle</h3>
      <h3>Ratio de victoire : 51%</h3> <br>
      <a href="team-profil" class="team__card--section-a">Voir la fiche du joueur</a>
    </div>

    <div class="clear"></div>
  </div>
  <div class="team__card">
    <div class="team__card--section">
      <img src="assets/images/logo/ashe.png" alt="Profil user team">
      <h3>High Noon McCree</h3>
    </div>

    <div class="team__card--section">
      <h3>Rank : Bronze IV</h3>
      <h3>Main role(s) : ADC</h3>
      <h3>Ratio de victoire : 51%</h3> <br>
      <a href="team-profil" class="team__card--section-a">Voir la fiche du joueur</a>
    </div>

    <div class="clear"></div>
  </div>
</div>
