<h1 class="title">Résumé du match</h1>

<div class="summary">
  <h1>Victoire</h1>
  <h1>16:21</h1>
</div>

<div class="historique-card" style="background-color: #E2B6B3; border: 1px solid #CA443E;">
  <div class="champion">
    <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
      <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
      <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    <h2>Chocapic</h2>
  </div>

  <div class="items">
    <div class="abscenter"><h3>8 / 5 / 25</h3>
      <img class="items__item" src="assets/images/card/3065.png" alt="item">
      <img class="items__item" src="assets/images/card/3068.png" alt="item">
      <img class="items__item" src="assets/images/card/3075.png" alt="item">
      <img class="items__item" src="assets/images/card/3078.png" alt="item">
      <img class="items__item" src="assets/images/card/3111.png" alt="item">
      <img class="items__item" src="assets/images/card/3812.png" alt="item">
      <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
  </div>

  <div class="score-detail">
    <div class="abscenter">
      <h3>6.60:1 KDA</h3>
      <h3>42 (2.1) CS</h3>
      <h3>Niveau 17</h3></div>
  </div>

  <div class="champion">
    <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
      <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
      <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    <h2>Smacks</h2>
  </div>

  <div class="items">
    <div class="abscenter"><h3>8 / 5 / 25</h3>
      <img class="items__item" src="assets/images/card/3065.png" alt="item">
      <img class="items__item" src="assets/images/card/3068.png" alt="item">
      <img class="items__item" src="assets/images/card/3075.png" alt="item">
      <img class="items__item" src="assets/images/card/3078.png" alt="item">
      <img class="items__item" src="assets/images/card/3111.png" alt="item">
      <img class="items__item" src="assets/images/card/3812.png" alt="item">
      <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
  </div>

  <div class="score-detail">
    <div class="abscenter">
      <h3>6.60:1 KDA</h3>
      <h3>42 (2.1) CS</h3>
      <h3>Niveau 17</h3></div>
  </div>

  <div class="champion">
    <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
      <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
      <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    <h2>Trésor</h2>
  </div>

  <div class="items">
    <div class="abscenter"><h3>8 / 5 / 25</h3>
      <img class="items__item" src="assets/images/card/3065.png" alt="item">
      <img class="items__item" src="assets/images/card/3068.png" alt="item">
      <img class="items__item" src="assets/images/card/3075.png" alt="item">
      <img class="items__item" src="assets/images/card/3078.png" alt="item">
      <img class="items__item" src="assets/images/card/3111.png" alt="item">
      <img class="items__item" src="assets/images/card/3812.png" alt="item">
      <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
  </div>

  <div class="score-detail">
    <div class="abscenter">
      <h3>6.60:1 KDA</h3>
      <h3>42 (2.1) CS</h3>
      <h3>Niveau 17</h3></div>
  </div>

  <div class="champion">
    <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
      <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
      <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    <h2>Miel Pops</h2>
  </div>

  <div class="items">
    <div class="abscenter"><h3>8 / 5 / 25</h3>
      <img class="items__item" src="assets/images/card/3065.png" alt="item">
      <img class="items__item" src="assets/images/card/3068.png" alt="item">
      <img class="items__item" src="assets/images/card/3075.png" alt="item">
      <img class="items__item" src="assets/images/card/3078.png" alt="item">
      <img class="items__item" src="assets/images/card/3111.png" alt="item">
      <img class="items__item" src="assets/images/card/3812.png" alt="item">
      <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
  </div>

  <div class="score-detail">
    <div class="abscenter">
      <h3>6.60:1 KDA</h3>
      <h3>42 (2.1) CS</h3>
      <h3>Niveau 17</h3></div>
  </div>

  <div class="champion">
    <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
      <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
      <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    <h2>Coco Pops</h2>
  </div>

  <div class="items">
    <div class="abscenter"><h3>8 / 5 / 25</h3>
      <img class="items__item" src="assets/images/card/3065.png" alt="item">
      <img class="items__item" src="assets/images/card/3068.png" alt="item">
      <img class="items__item" src="assets/images/card/3075.png" alt="item">
      <img class="items__item" src="assets/images/card/3078.png" alt="item">
      <img class="items__item" src="assets/images/card/3111.png" alt="item">
      <img class="items__item" src="assets/images/card/3812.png" alt="item">
      <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
  </div>

  <div class="score-detail">
    <div class="abscenter">
      <h3>6.60:1 KDA</h3>
      <h3>42 (2.1) CS</h3>
      <h3>Niveau 17</h3></div>
  </div>

  <div class="clear"></div>

</div>
<div class="historique-card" style="background-color: #C2E2B3; border: 1px solid #71CA3E;">
  <div class="champion">
    <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
      <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
      <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    <h2>Frosties</h2>
  </div>

  <div class="items">
    <div class="abscenter"><h3>8 / 5 / 25</h3>
      <img class="items__item" src="assets/images/card/3065.png" alt="item">
      <img class="items__item" src="assets/images/card/3068.png" alt="item">
      <img class="items__item" src="assets/images/card/3075.png" alt="item">
      <img class="items__item" src="assets/images/card/3078.png" alt="item">
      <img class="items__item" src="assets/images/card/3111.png" alt="item">
      <img class="items__item" src="assets/images/card/3812.png" alt="item">
      <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
  </div>

  <div class="score-detail">
    <div class="abscenter">
      <h3>6.60:1 KDA</h3>
      <h3>42 (2.1) CS</h3>
      <h3>Niveau 17</h3></div>
  </div>

  <div class="champion">
    <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
      <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
      <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    <h2>Grahams</h2>
  </div>

  <div class="items">
    <div class="abscenter"><h3>8 / 5 / 25</h3>
      <img class="items__item" src="assets/images/card/3065.png" alt="item">
      <img class="items__item" src="assets/images/card/3068.png" alt="item">
      <img class="items__item" src="assets/images/card/3075.png" alt="item">
      <img class="items__item" src="assets/images/card/3078.png" alt="item">
      <img class="items__item" src="assets/images/card/3111.png" alt="item">
      <img class="items__item" src="assets/images/card/3812.png" alt="item">
      <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
  </div>

  <div class="score-detail">
    <div class="abscenter">
      <h3>6.60:1 KDA</h3>
      <h3>42 (2.1) CS</h3>
      <h3>Niveau 17</h3></div>
  </div>

  <div class="champion">
    <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
      <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
      <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    <h2>Special K</h2>
  </div>

  <div class="items">
    <div class="abscenter"><h3>8 / 5 / 25</h3>
      <img class="items__item" src="assets/images/card/3065.png" alt="item">
      <img class="items__item" src="assets/images/card/3068.png" alt="item">
      <img class="items__item" src="assets/images/card/3075.png" alt="item">
      <img class="items__item" src="assets/images/card/3078.png" alt="item">
      <img class="items__item" src="assets/images/card/3111.png" alt="item">
      <img class="items__item" src="assets/images/card/3812.png" alt="item">
      <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
  </div>

  <div class="score-detail">
    <div class="abscenter">
      <h3>6.60:1 KDA</h3>
      <h3>42 (2.1) CS</h3>
      <h3>Niveau 17</h3></div>
  </div>

  <div class="champion">
    <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
      <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
      <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    <h2>Weetabix</h2>
  </div>

  <div class="items">
    <div class="abscenter"><h3>8 / 5 / 25</h3>
      <img class="items__item" src="assets/images/card/3065.png" alt="item">
      <img class="items__item" src="assets/images/card/3068.png" alt="item">
      <img class="items__item" src="assets/images/card/3075.png" alt="item">
      <img class="items__item" src="assets/images/card/3078.png" alt="item">
      <img class="items__item" src="assets/images/card/3111.png" alt="item">
      <img class="items__item" src="assets/images/card/3812.png" alt="item">
      <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
  </div>

  <div class="score-detail">
    <div class="abscenter">
      <h3>6.60:1 KDA</h3>
      <h3>42 (2.1) CS</h3>
      <h3>Niveau 17</h3></div>
  </div>

  <div class="champion">
    <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
      <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
      <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    <h2>All bran</h2>
  </div>

  <div class="items">
    <div class="abscenter"><h3>8 / 5 / 25</h3>
      <img class="items__item" src="assets/images/card/3065.png" alt="item">
      <img class="items__item" src="assets/images/card/3068.png" alt="item">
      <img class="items__item" src="assets/images/card/3075.png" alt="item">
      <img class="items__item" src="assets/images/card/3078.png" alt="item">
      <img class="items__item" src="assets/images/card/3111.png" alt="item">
      <img class="items__item" src="assets/images/card/3812.png" alt="item">
      <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
  </div>

  <div class="score-detail">
    <div class="abscenter">
      <h3>6.60:1 KDA</h3>
      <h3>42 (2.1) CS</h3>
      <h3>Niveau 17</h3></div>
  </div>

  <div class="clear"></div>

</div>
