<h1 class="title">Paramètres</h1>

<div class="settings">

  <div class="settings__div">

    <div class="settings__div--txt">Notifications</div>
    <div class="settings__div--toggle">
      <mat-slide-toggle></mat-slide-toggle>
    </div>
    <div class="clear"></div>


    <div class="settings__div--txt">Profil en privée</div>
    <div class="settings__div--toggle">
      <mat-slide-toggle></mat-slide-toggle>
    </div>
    <div class="clear"></div>

    <div class="settings__div--txt-solo">
      <a class="settings__div--txt--btn" (click)="openDialogDisconnect()">Se déconnecter</a>
    </div>

    <div class="settings__div--txt-solo">
      <a class="settings__div--txt--btn" (click)="openDialogPrivacy()">Politique de confidentialité</a>
    </div>

    <div class="settings__div--txt-solo">
      <a class="settings__div--txt--btn">Nous contacter</a>
    </div>

  </div>


</div>
