.clear:before, .clear:after {
  content: '';
  display: table;
}

.clear:after {
  clear: both
}

.clear {
  *zoom: 1;
}

.title {
  text-align: center;
  padding: 30px;
  font-weight: lighter;
  font-size: xx-large;
}

.disabled {
  background-color: rgba(210,84,84,0.5);
}
