
<h2 mat-dialog-title>Détails de la partie</h2>
<mat-dialog-content class="mat-typography">

  <div class="historique-card" style="background-color: #E2B6B3; border: 1px solid #CA443E;">
    <div class="champion">
      <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
        <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
        <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    </div>

    <div class="items">
      <div class="abscenter"><h3>8 / 5 / 25</h3>
        <img class="items__item" src="assets/images/card/3065.png" alt="item">
        <img class="items__item" src="assets/images/card/3068.png" alt="item">
        <img class="items__item" src="assets/images/card/3075.png" alt="item">
        <img class="items__item" src="assets/images/card/3078.png" alt="item">
        <img class="items__item" src="assets/images/card/3111.png" alt="item">
        <img class="items__item" src="assets/images/card/3812.png" alt="item">
        <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
    </div>

    <div class="score-detail">
      <div class="abscenter">
        <h3>6.60:1 KDA</h3>
        <h3>42 (2.1) CS</h3></div>
    </div>

    <div class="champion">
      <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
        <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
        <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    </div>

    <div class="items">
      <div class="abscenter"><h3>8 / 5 / 25</h3>
        <img class="items__item" src="assets/images/card/3065.png" alt="item">
        <img class="items__item" src="assets/images/card/3068.png" alt="item">
        <img class="items__item" src="assets/images/card/3075.png" alt="item">
        <img class="items__item" src="assets/images/card/3078.png" alt="item">
        <img class="items__item" src="assets/images/card/3111.png" alt="item">
        <img class="items__item" src="assets/images/card/3812.png" alt="item">
        <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
    </div>

    <div class="score-detail">
      <div class="abscenter">
        <h3>6.60:1 KDA</h3>
        <h3>42 (2.1) CS</h3></div>
    </div>

    <div class="champion">
      <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
        <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
        <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    </div>

    <div class="items">
      <div class="abscenter"><h3>8 / 5 / 25</h3>
        <img class="items__item" src="assets/images/card/3065.png" alt="item">
        <img class="items__item" src="assets/images/card/3068.png" alt="item">
        <img class="items__item" src="assets/images/card/3075.png" alt="item">
        <img class="items__item" src="assets/images/card/3078.png" alt="item">
        <img class="items__item" src="assets/images/card/3111.png" alt="item">
        <img class="items__item" src="assets/images/card/3812.png" alt="item">
        <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
    </div>

    <div class="score-detail">
      <div class="abscenter">
        <h3>6.60:1 KDA</h3>
        <h3>42 (2.1) CS</h3></div>
    </div>

    <div class="champion">
      <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
        <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
        <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    </div>

    <div class="items">
      <div class="abscenter"><h3>8 / 5 / 25</h3>
        <img class="items__item" src="assets/images/card/3065.png" alt="item">
        <img class="items__item" src="assets/images/card/3068.png" alt="item">
        <img class="items__item" src="assets/images/card/3075.png" alt="item">
        <img class="items__item" src="assets/images/card/3078.png" alt="item">
        <img class="items__item" src="assets/images/card/3111.png" alt="item">
        <img class="items__item" src="assets/images/card/3812.png" alt="item">
        <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
    </div>

    <div class="score-detail">
      <div class="abscenter">
        <h3>6.60:1 KDA</h3>
        <h3>42 (2.1) CS</h3></div>
    </div>

    <div class="champion">
      <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
        <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
        <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    </div>

    <div class="items">
      <div class="abscenter"><h3>8 / 5 / 25</h3>
        <img class="items__item" src="assets/images/card/3065.png" alt="item">
        <img class="items__item" src="assets/images/card/3068.png" alt="item">
        <img class="items__item" src="assets/images/card/3075.png" alt="item">
        <img class="items__item" src="assets/images/card/3078.png" alt="item">
        <img class="items__item" src="assets/images/card/3111.png" alt="item">
        <img class="items__item" src="assets/images/card/3812.png" alt="item">
        <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
    </div>

    <div class="score-detail">
      <div class="abscenter">
        <h3>6.60:1 KDA</h3>
        <h3>42 (2.1) CS</h3></div>
    </div>

    <div class="clear"></div>

  </div>
  <div class="historique-card" style="background-color: #C2E2B3; border: 1px solid #71CA3E;">
    <div class="champion">
      <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
        <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
        <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    </div>

    <div class="items">
      <div class="abscenter"><h3>8 / 5 / 25</h3>
        <img class="items__item" src="assets/images/card/3065.png" alt="item">
        <img class="items__item" src="assets/images/card/3068.png" alt="item">
        <img class="items__item" src="assets/images/card/3075.png" alt="item">
        <img class="items__item" src="assets/images/card/3078.png" alt="item">
        <img class="items__item" src="assets/images/card/3111.png" alt="item">
        <img class="items__item" src="assets/images/card/3812.png" alt="item">
        <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
    </div>

    <div class="score-detail">
      <div class="abscenter">
        <h3>6.60:1 KDA</h3>
        <h3>42 (2.1) CS</h3></div>
    </div>

    <div class="champion">
      <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
        <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
        <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    </div>

    <div class="items">
      <div class="abscenter"><h3>8 / 5 / 25</h3>
        <img class="items__item" src="assets/images/card/3065.png" alt="item">
        <img class="items__item" src="assets/images/card/3068.png" alt="item">
        <img class="items__item" src="assets/images/card/3075.png" alt="item">
        <img class="items__item" src="assets/images/card/3078.png" alt="item">
        <img class="items__item" src="assets/images/card/3111.png" alt="item">
        <img class="items__item" src="assets/images/card/3812.png" alt="item">
        <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
    </div>

    <div class="score-detail">
      <div class="abscenter">
        <h3>6.60:1 KDA</h3>
        <h3>42 (2.1) CS</h3></div>
    </div>

    <div class="champion">
      <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
        <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
        <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    </div>

    <div class="items">
      <div class="abscenter"><h3>8 / 5 / 25</h3>
        <img class="items__item" src="assets/images/card/3065.png" alt="item">
        <img class="items__item" src="assets/images/card/3068.png" alt="item">
        <img class="items__item" src="assets/images/card/3075.png" alt="item">
        <img class="items__item" src="assets/images/card/3078.png" alt="item">
        <img class="items__item" src="assets/images/card/3111.png" alt="item">
        <img class="items__item" src="assets/images/card/3812.png" alt="item">
        <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
    </div>

    <div class="score-detail">
      <div class="abscenter">
        <h3>6.60:1 KDA</h3>
        <h3>42 (2.1) CS</h3></div>
    </div>

    <div class="champion">
      <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
        <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
        <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    </div>

    <div class="items">
      <div class="abscenter"><h3>8 / 5 / 25</h3>
        <img class="items__item" src="assets/images/card/3065.png" alt="item">
        <img class="items__item" src="assets/images/card/3068.png" alt="item">
        <img class="items__item" src="assets/images/card/3075.png" alt="item">
        <img class="items__item" src="assets/images/card/3078.png" alt="item">
        <img class="items__item" src="assets/images/card/3111.png" alt="item">
        <img class="items__item" src="assets/images/card/3812.png" alt="item">
        <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
    </div>

    <div class="score-detail">
      <div class="abscenter">
        <h3>6.60:1 KDA</h3>
        <h3>42 (2.1) CS</h3></div>
    </div>

    <div class="champion">
      <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
        <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
        <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
    </div>

    <div class="items">
      <div class="abscenter"><h3>8 / 5 / 25</h3>
        <img class="items__item" src="assets/images/card/3065.png" alt="item">
        <img class="items__item" src="assets/images/card/3068.png" alt="item">
        <img class="items__item" src="assets/images/card/3075.png" alt="item">
        <img class="items__item" src="assets/images/card/3078.png" alt="item">
        <img class="items__item" src="assets/images/card/3111.png" alt="item">
        <img class="items__item" src="assets/images/card/3812.png" alt="item">
        <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
    </div>

    <div class="score-detail">
      <div class="abscenter">
        <h3>6.60:1 KDA</h3>
        <h3>42 (2.1) CS</h3></div>
    </div>

    <div class="clear"></div>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Retour</button>
</mat-dialog-actions>
