<div class="form">
  <h1>Connexion</h1>
  <form action="">

    <label for="email" style="display: none"></label>
    <input type="text" id="email" placeholder="E-mail" class="form__type-input">

    <label for="password"></label>
    <input type="password" id="password" placeholder="Mot de passe" class="form__type-input">

    <p>Pas encore de compte ? <a href="http://localhost:4200/inscription">Inscrivez-vous</a></p>

    <input type="button" class="form__btn-submit" value="Commencer !">
  </form>
</div>
