<div class="profil">
  <h1>Bonjour, invocateur ! </h1>
  <img src="assets/images/logo/profil.png" alt="Profil picture">
</div>

<div class="detail-profil">

  <div class="picture">
    <img src="assets/images/logo/profil.png" alt="Profil picture">
    <div class="badges">
      <div class="badges__img"><img src="assets/images/logo/badge.png" alt="Badge"></div>
      <div class="badges__img"><img src="assets/images/logo/badge.png" alt="Badge"></div>
      <div class="badges__img"><img src="assets/images/logo/badge.png" alt="Badge"></div>
    </div>
  </div>

  <div class="infos-profil">
    <h1>Nom d'invocateur</h1>
    <h2>Rank : Grand Maître</h2>
    <h2>Main role(s) : Mid, Top</h2>
    <h2>Taux de victoire : 51%</h2>
  </div>

  <div class="clear"></div>

</div>

<mat-tab-group mat-align-tabs="start" color="primary">
  <mat-tab label="Informations">

    <div class="historique-card" style="background-color: #84A7E2; border: 1px solid #3E4CCA;">
      <div class="champion">
        <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion"></div>
      </div>

      <div class="items">
        <div class="abscenter"><h3>8 / 5 / 25</h3></div>
      </div>

      <div class="score-detail">
        <div class="abscenter"><h3>20:19</h3>
          <h3>6.60:1 KDA</h3>
          <h3>42 (2.1) CS</h3></div>
      </div>

      <div class="clear"></div>

    </div>
    <div class="historique-card" style="background-color: #84A7E2; border: 1px solid #3E4CCA;">
      <div class="champion">
        <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion"></div>
      </div>

      <div class="items">
        <div class="abscenter"><h3>8 / 5 / 25</h3></div>
      </div>

      <div class="score-detail">
        <div class="abscenter"><h3>20:19</h3>
          <h3>6.60:1 KDA</h3>
          <h3>42 (2.1) CS</h3></div>
      </div>

      <div class="clear"></div>

    </div>
    <div class="historique-card" style="background-color: #84A7E2; border: 1px solid #3E4CCA;">
      <div class="champion">
        <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion"></div>
      </div>

      <div class="items">
        <div class="abscenter"><h3>8 / 5 / 25</h3></div>
      </div>

      <div class="score-detail">
        <div class="abscenter"><h3>20:19</h3>
          <h3>6.60:1 KDA</h3>
          <h3>42 (2.1) CS</h3></div>
      </div>

      <div class="clear"></div>

    </div>

    <h1 class="title">Avez-vous une appréciation sur ce joueur ?</h1>

    <div class="report">
      <div class="report__img"><img src="assets/images/icons/honor.svg" alt="Honor"></div>
      <div class="report__txt"><button mat-button (click)="openDialogHonor()">Honorer ce joueur</button></div>
      <div class="clear"></div>
    </div>
    <div class="report">
      <div class="report__img"><img src="assets/images/icons/report.svg" alt="Report"></div>
      <div class="report__txt"><button mat-button (click)="openDialogReport()">Report ce joueur</button></div>
      <div class="clear"></div>
    </div>


  </mat-tab>

  <mat-tab label="Historique">

    <div class="historique-card" style="background-color: #E2B6B3; border: 1px solid #CA443E;">
        <div class="champion">
          <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
          <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
          <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
        </div>

      <div class="items">
        <div class="abscenter"><h3>8 / 5 / 25</h3>
        <img class="items__item" src="assets/images/card/3065.png" alt="item">
        <img class="items__item" src="assets/images/card/3068.png" alt="item">
        <img class="items__item" src="assets/images/card/3075.png" alt="item">
        <img class="items__item" src="assets/images/card/3078.png" alt="item">
        <img class="items__item" src="assets/images/card/3111.png" alt="item">
        <img class="items__item" src="assets/images/card/3812.png" alt="item">
        <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
      </div>

      <div class="score-detail">
        <div class="abscenter"><h3>20:19</h3>
        <h3>6.60:1 KDA</h3>
        <h3>42 (2.1) CS</h3>
        <h3 style="color: #CA443E">Défaite</h3></div>
      </div>

      <div class="clear"></div>

    </div>
    <div class="historique-card" style="background-color: #C2E2B3; border: 1px solid #71CA3E;">
      <div class="champion">
        <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
          <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
          <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
      </div>

      <div class="items">
        <div class="abscenter"><h3>8 / 5 / 25</h3>
          <img class="items__item" src="assets/images/card/3065.png" alt="item">
          <img class="items__item" src="assets/images/card/3068.png" alt="item">
          <img class="items__item" src="assets/images/card/3075.png" alt="item">
          <img class="items__item" src="assets/images/card/3078.png" alt="item">
          <img class="items__item" src="assets/images/card/3111.png" alt="item">
          <img class="items__item" src="assets/images/card/3812.png" alt="item">
          <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
      </div>

      <div class="score-detail">
        <div class="abscenter"><h3>20:19</h3>
          <h3>6.60:1 KDA</h3>
          <h3>42 (2.1) CS</h3>
          <h3 style="color: #71CA3E">Victoire</h3></div>
      </div>

      <div class="clear"></div>

    </div>
    <div class="historique-card" style="background-color: #E2B6B3; border: 1px solid #CA443E;">
      <div class="champion">
        <div class="abscenter"><img src="assets/images/card/Volibear.png" alt="Champion">
          <div class="summoners"><img src="assets/images/card/SummonerExhaust.png" alt="Summoner"><img src="assets/images/card/SummonerFlash.png" alt="Summoner"></div>
          <div class="runes"><img src="assets/images/card/8010.png" alt="Runes"><img src="assets/images/card/8100.png" alt="Runes"></div></div>
      </div>

      <div class="items">
        <div class="abscenter"><h3>8 / 5 / 25</h3>
          <img class="items__item" src="assets/images/card/3065.png" alt="item">
          <img class="items__item" src="assets/images/card/3068.png" alt="item">
          <img class="items__item" src="assets/images/card/3075.png" alt="item">
          <img class="items__item" src="assets/images/card/3078.png" alt="item">
          <img class="items__item" src="assets/images/card/3111.png" alt="item">
          <img class="items__item" src="assets/images/card/3812.png" alt="item">
          <img class="items__item" src="assets/images/card/3340.png" alt="item"></div>
      </div>

      <div class="score-detail">
        <div class="abscenter"><h3>20:19</h3>
          <h3>6.60:1 KDA</h3>
          <h3>42 (2.1) CS</h3>
          <h3 style="color: #CA443E">Défaite</h3></div>
      </div>

      <div class="clear"></div>

    </div>

  </mat-tab>

  <mat-tab label="Équipe">Équipe</mat-tab>
</mat-tab-group>
