@import "src/styles";

.card {
  max-width: 800px;
  padding: 10px;
  font-size: 1.4rem;
  margin: 0 auto;
  margin-top: 4px ;
  background: rgb(77,79,93);
  background: linear-gradient(90deg, rgba(77,79,93,1) 0%, rgba(170,7,7,1) 100%, rgba(170,12,7,1) 100%);
  color: $color-white;

  img {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .card {
    margin: 4px;
  }
}
