<div class="profil">
  <h1>Bonjour, invocateur ! </h1>
  <a href="/profil"><img src="assets/images/logo/profil.png" alt="Profil picture"></a>
</div>

<h1 class="title">Notification</h1>

<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="card__img">
      <img src="assets/images/logo/profil.png" alt="Profil picture">
    </div>
    <mat-card-title>Summoner name</mat-card-title>
    <mat-card-subtitle>Type de notification</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <span>[Summoner name]</span>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>J'vais l'démarrer</button>
    <button mat-button>S'fils de pute</button>
  </mat-card-actions>
</mat-card>
<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="card__img">
      <img src="assets/images/logo/profil.png" alt="Profil picture">
    </div>
    <mat-card-title>Summoner name</mat-card-title>
    <mat-card-subtitle>Type de notification</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <span>[Summoner name]</span>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>J'vais l'démarrer</button>
    <button mat-button>S'fils de pute</button>
  </mat-card-actions>
</mat-card>
