<div class="form">
  <h1>Inscription</h1>
  <form action="">
    <label for="e-mail" style="display: none"></label>
    <input type="text" id="e-mail" placeholder="E-mail" class="form__type-input">

    <label for="pseudo"></label>
    <input type="text" id="pseudo" placeholder="Pseudo" class="form__type-input">

    <label for="pseudo-riot"></label>
    <input type="text" id="pseudo-riot" placeholder="Pseudo Riot" class="form__type-input">

    <label for="password"></label>
    <input type="password" id="password" placeholder="Mot de passe" class="form__type-input">

    <p>Déjà inscrit ? <a href="http://localhost:4200/connexion">Connectez-vous</a></p>


    <mat-checkbox color="primary" id="checkbox"></mat-checkbox>
    <label for="checkbox">I agree Private Policy</label>

    <input type="submit" class="form__btn-submit" value="Commencer !">
  </form>
</div>
