<h1 class="title">Détails de la session</h1>

<div class="matchmaking">
  <div class="matchmaking__list">
    <a href="matchmaking-resume">
      <div class="matchmaking__list--component"><h2 style="color: #71CA3E">Victoire</h2></div>
      <div class="matchmaking__list--component"><h2>20h15</h2></div>
      <span class="clear"></span>
    </a>
  </div>

  <div class="matchmaking__list">
    <a href="matchmaking-resume">
      <div class="matchmaking__list--component"><h2 style="color: #CA443E">Défaite</h2></div>
      <div class="matchmaking__list--component"><h2>19h15</h2></div>
      <span class="clear"></span>
    </a>
  </div>
</div>
