// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat-palette($mat-indigo);
$client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$client-theme: mat-light-theme($client-primary, $client-accent, $client-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($client-theme);

/* You can add global styles to this file, and also import other style files */

@import "app/app.component";

.loading {
  @include absCenter;
}

svg:hover {
  fill: #333333 !important;
}

.mat-checkbox-layout {
  background-color: $color-grey-light-1 !important;
  border-radius: 2px;
}


/*
 * Mat tab group
 */


.mat-tab-group {
  color: $color-white;
}

.mat-tab-label {
  width: 33.333333333333333333333333333333333333333333333% !important;
}

.mat-tab-labels,
.mat-tab {
  background-color: $color-grey-dark-3 !important;
}

.mat-tab-label .mat-tab-label-content {
  color: $color-white !important;
}

/*
 * Profil
 */

.profil {
  width: 100%;
  background-color: #0E82CF;
  position: relative;

  h1 {
    text-align: center;
    height: 120px;
    line-height: 120px;
    width: 100%;
    display: inline-block;
  }

  img {
    position: absolute;
    right: 0;
    width: 120px;
  }
}

@media screen and (max-width: 640px) {
  .profil {
    h1 {
      width: 66.66666666666666666666666666%;
    }
  }
}

/*
 * Profil details
 */

.detail-profil {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  padding: 10px 0;

  img {
    width: 33.3333333333333333333%;
  }

  .picture {
    width: 50%;
    float: left;
    text-align: center;

    img {
      height: 120px;
      width: 120px;
    }

    .badges {
      width: 100%;

      &__img {
        width: 33.3333333333333333%;
        display: inline-block;

        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  .infos-profil {
    width: 50%;
    float: left;
    text-align: center;
    line-height: 45px;
  }
}

/*
 * Historique card
 */

.historique-card {
  background-color: $color-defeat;
  border: 1px solid $color-defeat-2;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 10px;
  color: $color-grey-dark-3;
  font-size: 1.5rem;

  .champion,
  .items,
  .score-detail {
    width: 33.333333333333333333333%;
    background-color: #406FDB;
    text-align: center;
    display: inline-block;

    .summoners,
    .runes {
      display: inline-block;
      margin-left: 10px;
      img {
        display: block;
      }
    }

    img {
      display: inline-block;
      margin-left: 5px;
      border-radius: 2px;
    }
  }
}
